.date-picker-container {
    position: relative;
    display: inline-block;
    width: 430px;
    
}

.date-picker {
font-size: 18px; 
outline: none;
            padding: 0 5px;
            width: 78%;
            height: 55px;
            border: 1px solid #dcdcdc;
            border-radius: 7px;
            background-color: #fff;
            color: #363636;
            width: 430px;
    
}

.calendar-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #999;
    cursor: pointer;
  
}
.date-picker-containerr {
    position: relative;
    display: inline-block;
    width: 210px;
    height:55px;

}
.date-pickerr {
    font-size: 18px;
    outline: none;
    padding: 0 5px;
    width: 78%;
    height: 55px;
    border: 1px solid #dcdcdc;
    border-radius: 7px;
    background-color: #fff;
    color: #363636;
    width: 210px;

}

.calendar-iconn {
    position: absolute;
    top: 40%;
    margin-left: 1px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #999;
    cursor: pointer;
}